/* * {
  overflow: hidden;
} */

.optionaltext {
  position: relative;
  bottom: 15px;
  right: 60px;
  font-size: 9px;
  color: rgb(255, 0, 0);
}

.radio {
  color: rgb(0, 0, 0);
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 2px;
}

.radiobtns {
  font-family: "Anek Malayalam", sans-serif;
  position: relative;
  left: 50px;
  top: 4px;
}

.logoflex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  top: 10%;
}

.logoimg {
  height: 200px;
  margin: auto;
  position: relative;
  top: 10px;
}

.logotxt {
  height: 60px;
  margin: auto;
  position: relative;
  bottom: 25px;
}

.lables2 {
  font-size: medium;
  font-family: "Anek Malayalam", sans-serif;
  position: relative;
  top: -10px;
}

.App {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/xsnipp-prot-2.appspot.com/o/board%20background%20fincrates.jpg?alt=media&token=82daf71b-132a-47f7-b3f2-ac72538e9a08");
  height: 100%;
}

.wholeblock {
  background-color: rgb(252, 252, 252);
  margin: auto;
  width: auto;
  max-width: 350px;
  max-height: 460px;
  border: 3px;
}

.wholeblock2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgb(255, 255, 255);
  border: 3px;
  max-height: 900px;
  max-width: 100%;
  margin-top: 7%;
}

.lables {
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 250px;
  text-align: left;
  margin: 10px;
  position: relative;
  top: -10px;
}

.lablsname {
  color: rgb(0, 0, 0);
  font-family: "Anek Malayalam", sans-serif;
  position: relative;
  right: 105px;
  /* top: 6px; */
}

input {
  width: 250px;
  background-color: #9292987a;
  border: 0px;
  height: 20px;
  position: relative;
  top: -10px;
}

textarea {
  resize: none;
}

.dat1 {
  position: relative;
  left: 10px;
  top: 8px;
}

.dat2 {
  position: relative;
  right: 0px;
  top: 5px;
}

.dat3 {
  position: relative;
  left: 28.6px;
  top: 3px;
}

.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
